@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quicksand:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'cursive';
}
html{
    /* para que se deslace cuando haga click en una opcion */
    scroll-behavior: smooth;
}

body { /* este es para el fondo */
    background-color: #df5c55;
}

.img{ /*cambia el tamaño del logo */
    width: 170px;
}

/* SECCION I N I C I O */
#inicio{ /* este apartado es para las imagenes con slider */
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#inicio header{ /*cambia el color de la barra de inicio */
    width: 100%;
    background-color: #df5c55;
}
#inicio header .contenido-header{ /* este apartado es para modificar el espacio del menu */
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}
#inicio header .contenido-header nav{ /* este recorre el menu */
    position: absolute;
    left: 48%;
    transform: translate(-50%);
}
#inicio header .contenido-header nav ul{
    display: flex;
    list-style: none;
}
#inicio header .contenido-header nav ul li{
    text-align: center;
}
#inicio header .contenido-header nav ul li i{ /*este apartado es para cambiar el color de los iconos y espaciado*/
    display: block;
    color: #ffffff;
    margin: 0 40px;
}
#inicio header .contenido-header nav ul li a{ /* este apartado es para modificar los espacios del menu */
    display: inline-block;
    text-decoration: none;
    color: #a8a8a8;
    margin: 0 25px;
}
.nav-responsive{
    font-size:  25px;
    color: #a8a8a8;
    display: none;
}
#inicio header .contenido-header nav ul li:hover i{ /* este apartado es para que el icono del menu cambie de color al pasar el cursor */
    color: #5a0e4a;
}
#inicio header .contenido-header .social a{ /* este apartado es para cambiar el fondo de las redes sociales */
    display: inline-block;
    background-color: #990710;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 30px;
}
/* CARRUSEL */
#inicio .carrusel{
    position: relative;
    height: 100%;
}
#inicio .carrusel .info{ /* este apartado es para el texto que esta en medio de los sliders */
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    width: 50%;
    color: #8d1919;
    text-align: center;
}
#inicio .carrusel .info h2{ /* este apartado es para cambiar tipografia de vinos exquisitos*/
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Dancing Script';
}
#inicio .gallery{
    width: 100%;
    height: 100%;
}
#inicio .gallery-cell{ /* este apartado es para las flechas dentro de los sliders*/
    width: 100%;
    margin-right: 10px;
    height: 100%;
}
#inicio .gallery-cell img{ /* este apartado es para oprimir las flechas de los sliders */
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
/* SECCION DE BOTELLAS DE VINO */
#vinos{
    padding: 50px 0;
}
#vinos h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#vinos .fila{
    display: flex;
    max-width: 1100px;
    margin: auto;
}
#vinos .fila .item img{ /* cambia el tamaño de las botellas */
    max-width: 85px;
}
#vinos .fila .item{
    display: flex;
    align-items: center;
    margin: 20px 10px;
    padding: 25px;
}
#vinos .fila .item:hover{ /* este apartado es para que la imagen de los vinos tenga un fodo al pasar el cursor*/
    background-color: #990710;
}
#vinos .fila .item .info{
    margin-left: 15px;
    font-size: 14px;
}
/* SECCION DE P L A T I L L O S */
#platillos h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
#platillos .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
}
#platillos .fila .item{
    width: 30%;
    position: relative;
    overflow: hidden;
}
#platillos .fila .item img{ /*tamaño de la imagen*/
    width: 322px;
    display:block;
}
#platillos .fila .item p{ /* este apartado es para que salga el texto de color abajo de los platillos al pasar el cursor y tamaño */
    position: absolute;
    width: 91%;
    bottom: -100%;
    padding: 10px;
    background-color: #990710;
    color: #fff;
    transition: .5s;
}
#platillos .fila .item:hover p{
    bottom: 0;
}
/* SECCION B L O G*/
#blog{
    padding: 50px 0;
}
#blog h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.galeria-blog{ /* este apartado es para que le des clic a las flechas de los sliders */
    max-width: 800px;
    margin: 50px auto;
}
.galeria-blog .gallery-cell .item{
    display: flex;
    align-items: center;
    margin: 0 80px;
}
.galeria-blog .gallery-cell img{ /* este apartado es para cambiar el tamaño de los circulos de las imagenes */
    display: block;
    width: 170px;
    border-radius: 50%;
    border: 3px solid #990710;
    margin: 30px;

}
.galeria-blog .gallery-cell h3{
    margin-bottom: 7px;
}
.gallery-cell .gallery-cell p{
    color: #a8a8a8;
    font-style: italic;
}
#blog button{ /* este apartado es para el boton 4*/
    display: block;
    width: fit-content;
    margin: 20px auto;
    font-size: 20px;
    border: none;
    background-color: #990710;
    color: #fff;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}
/*SECCION C O N T A C T O */
#contacto{
    background-color: #8f3d38;
    padding: 50px 0;
}
#contacto .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
#contacto a{ /* apartado para cambiar el color de la tipografia de abajo*/
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 3px;
}
#contacto a:hover{
    text-decoration: underline;
}
#contacto h3{
    margin-bottom: 12px;
}
#contacto .media{
    display: flex;
    align-items: center;
}
#contacto .media i{
    display: block;
    margin-right: 10px;
}
#contacto input{ /* apartado del correo*/
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
}
#contacto .enviar{
    background-color: #990710;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}
/* SECCION RESPONSIVE*/
@media screen and (max-width:1070px){
    #inicio header .contenido-header .social{
        display: none;
    }
    #inicio header .contenido-header nav{
        position: static;
        transform: translate(0);
    }
}
@media screen and (max-width:700){
    #tienda .fila{
        display: block;
    }   
    #tienda .fila .item{
        width: 100%;
    }
    #eventos .fila{
        display: block;
    }
    #eventos .fila .item{
        display: block;
    }
    #eventos .fila .item{
        display: block;
        width: 100%;
    }
    #inicio header .contenido-header nav{
        position: initial;
        display: none;
        transform: translate(0);
    }
    .nav-responsive{
        display: block;
    }
    #inicio header .contenido-header{
        padding: 20px;
    }
    /* esta clase se asignara dinamicamente cuando haga clic en el boton nav */
    #inicio header .contenido-header nav.responsive{
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #252a2e;
        z-index: 99;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
    #contacto .fila{
        display: block;
        text-align: center;
    }
    #contacto .fila h3{
        margin: 20px 0 3px 0;
        
    }
    
    #contacto .fila .media{
        display: block;
    }
    
    #contacto .fila .input{
        width: 90%;
    }
    
}